<article>
  <h2>You are now logged out.</h2>
  <p>
    If you're on a public computer, you should also
    <a href="https://accounts.google.com/SignOutOptions">sign out of Google Apps.</a>
  </p>
</article>
