<div class="module-header">
  <div class="module-title">
    <a href="<%= mod["Link"] %>">
      <%= mod["Name"] %>
    </a>
  </div>
  <div class="module-subtitle">
    <%= mod["Subtitle"] %>
  </div>
</div>

<div class="module-content">
  <%= markdown mod["Description"] %>
</div>
