<div class="module-header">
  <div class="module-title">
    <%= mod["Name"] %>
  </div>
  <div class="module-subtitle">
    <%= mod["Subtitle"] %>
  </div>
</div>

<div class="module-content">
  <% mod["Attachments"].each do |asset| %>
    <img src="<%= asset["url"] %>" alt="<%= asset["filename"]%>" />
  <% end %>
</div>
