  <article data-link="<%= mod["Link"] %>" class="<%= mod["Kind"] %>" id="module-<%= mod["Name"].parameterize %>">
    <header>
      <%= mod["Name"] %>
    </header>
    <section>
      <div class="loading"></div>
    </section>
  </article>
