<% if @commitments.any? %>
  <% @commitments.group_by{|c| c["By When"]}.each do |day, tasks| %>
    <section>
      <h4>
        <% if day.present? %>
          <%= Date.parse(day).strftime("%a, %b %d")  %>
        <% else %>
          No Date Set
        <% end %>
      </h4>
      <ul>
        <% tasks.each do |t| %>
          <li>
            <%= t["WHO"] %> - <%= t["Commitment"] %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
<% else %>
  <p>No upcoming student commitments.</p>
<% end %>
