<table>
  <thead>
    <tr>
      <th>Who</th>
      <th>What</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody>
    <% @commitments.each do |commitment| %>
      <tr>
        <td><%= commitment["WHO"] || "N/A" %></td>
        <td><%= commitment["Commitment"] || "N/A" %></td>
        <td><%= commitment["By When"] || "N/A" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
<a href="<%= airtable_url_for "Commitments" %>">View All</a>
</p>
