<% if @profiles.any? %>
  <div class="stat-cards">
    <% @profiles.each do |profile| %>
      <div class="stat-card">
        <div class="stat-card-header">
          <%= profile["Name"] %>
        </div>
        <div class="stat-card-stats">
          <div class="stat-card-stat">
            <label>Power Strength</label>
            <%= profile["Power Strength"] %>
          </div>
          <div class="stat-card-stat">
            <label>Purpose &amp; Passion Strength</label>
            <%= profile["Purpose & Passion Strength"] %>
          </div>
          <div class="stat-card-stat">
            <label>Possibility Strength</label>
            <%= profile["Possibility Strength"] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No profiles to show.</p>
<% end  %>
<p>
  <a target="_blank" href="https://thefutureproject.typeform.com/to/WLMedf">Take the survey</a>
</p>
