<% if @profiles.any? %>
  <div class="text">
    <ul>
    <% @profiles.each do |profile| %>
      <li>
        <a href="/profiles/possibility_profiles/<%= profile.id %>" target="_blank">
          <%= profile["Label"] %>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
<% else %>
  <p>No profiles to show.</p>
<% end  %>

<p>
  <hr />
</p>

<p>
  <a target="_blank" href="https://thefutureproject.typeform.com/to/WLMedf">Take the survey</a>
</p>
