<% if @tasks.any? %>
  <div class="calendar">
  <% @tasks.group_by{|c| c["By When"]}.each do |day, tasks| %>
    <section>
      <header>
        <% if day.present? %>
          <%= Date.parse(day).strftime("%a, %b %d")  %>
        <% else %>
          No Date Set
        <% end %>
      </header>
      <ul class="tasks">
        <% tasks.each do |t| %>
          <li class="task">
            <input type="checkbox" data-id="<%= t["id"] %>"><%= markdown t["Commitment"] %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
 </div>
<% else %>
  <p>Found no incomplete commitments. You're free!</p>
<% end %>

