<% if @tasks.any? %>
  <div class="calendar">
  <% @tasks.group_by{|c| c["By When"]}.each do |day, tasks| %>
    <div class="calendar-day">
      <div class="calendar-day-header">
        <% if day.present? %>
          <%= Date.parse(day).strftime("%a, %b %d")  %>
        <% else %>
          No Date Set
        <% end %>
      </div>
      <ul class="tasks">
        <% tasks.each do |t| %>
          <li class="task">
            <form method="POST" action="/api/tasks/<%= t["id"] %>">
              <input type="hidden" name="task[id]" value="<%= t["id"] %>" />
              <input value="yes" name="task[Complete?]" type="checkbox"><%= markdown t["Commitment"] %>
            </form>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
 </div>
<% else %>
  <p>You have done all the things.</p>
<% end %>

