%h1 Edit a nice-looking link:
- @redirect.errors.each do |error, msg|
  %p.destroy="#{error} #{msg.first}"
- action = @redirect.exists? ? "/redirects/#{@redirect.id}" : "/redirects"
%form{action: action, method: "POST"}
  %p
    %b If I visit
    http://go.dream.org/
    %input{name: 'redirect[shortcut]', type: 'text', placeholder: 'awesomeness', value: @redirect.shortcut}
  %p
    %b ... then I should be redirected to
    %input{name: 'redirect[url]', type: 'text', placeholder: 'http://www.chrisfrank.fm/', value: @redirect.url}
  %p
    %input{type: 'submit', value: 'Make it so.'}

%p
  %a.destroy{href: '/'} ← Never mind
