!!!
%html{lang: "en"}
  %head
    %title Go
    %link{rel: 'stylesheet', href: "/stylesheets/application.css?v#{settings.last_boot}"}
    %meta{name: "viewport", content:"width=device-width"}
    %link(rel="icon" type="image/png" href="/images/favicon.png")
  %body
    #yield= yield

