<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Go</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <%= stylesheet_tag "screen" %>
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
    <footer>
      <article>
        <% if current_user %>
          <%= current_user.email %>
          //
          <a href="/auth/log_out">Log Out</a>
          <% if current_user.attributes[:admin] %>
            //
            <a href="/flush">Clear Caches</a>
          <% end %>
        <% end %>
      </article>
    </footer>

    <%= javascript_tag "application" %>
  </body>
</html>
