<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Go</title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/stylesheets/screen.css?v<%= settings.last_boot %>" rel="stylesheet"/>
  </head>
  <body>
    <header>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p><%= current_user %><br>
      <a href="/auth/log_out">Log Out</a></p>
    </footer>

  </body>
</html>
