@charset "UTF-8";
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb; }

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table; }

.pika-single:after {
  clear: both; }

.pika-single {
  *zoom: 1; }

.pika-single.is-hidden {
  display: none; }

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px; }

.pika-title {
  position: relative;
  text-align: center; }

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff; }

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0; }

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0; }

.pika-prev:hover,
.pika-next:hover {
  opacity: 1; }

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0; }

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0; }

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2; }

.pika-select {
  display: inline-block;
  *display: inline; }

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0; }

.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center; }

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5; }

.pika-week {
  font-size: 11px;
  color: #999; }

.is-today .pika-button {
  color: #33aaff;
  font-weight: bold; }

.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  background: #33aaff;
  box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px; }

.is-inrange .pika-button {
  background: #D5E9F7; }

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  box-shadow: none;
  border-radius: 3px; }

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px; }

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3; }

.pika-button:hover {
  color: #fff;
  background: #ff8000;
  box-shadow: none;
  border-radius: 3px; }

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help; }

.portal-modules {
  margin: -1rem -1rem 0; }

.module {
  margin: 1rem 0;
  position: relative; }
  .module iframe {
    width: calc(100% + 2rem);
    height: 90vh;
    margin: 0 -1rem;
    max-height: 40rem; }
  .module img {
    display: block;
    width: 100%;
    height: auto; }

.module-header {
  cursor: pointer;
  padding: 1rem;
  -webkit-user-select: none;
  user-select: none; }

.module-content {
  display: none;
  padding: 1rem; }
  .module-content .calendar:first-child {
    margin-top: -2rem; }

.module.is-expanded .module-content {
  display: block; }

.module-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2; }

.calendar header {
  padding: 0 1rem;
  margin: 1rem -1rem;
  position: -webkit-sticky;
  z-index: 10;
  top: 0; }

.tasks, .commitments {
  list-style: none;
  margin: 0;
  padding: 0; }

.task, .commitment {
  position: relative;
  font-weight: normal;
  padding-left: 3rem;
  margin-bottom: 2rem;
  min-height: 2rem; }
  .task input, .commitment input {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }

.stat-cards::after {
  clear: both;
  content: "";
  display: table; }

.stat-card {
  margin-bottom: 2rem; }

.student-strengths article {
  page-break-inside: avoid;
  margin-bottom: 2rem; }

.student-strengths img {
  display: block;
  margin: 1rem 0;
  height: 8rem;
  width: 8rem; }

.student-strengths dl, .student-strengths dt, .student-strengths dd {
  margin: 0;
  padding: 0; }

#airtable-forms {
  margin: 0 -1rem 2rem; }
  #airtable-forms nav {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; }
    #airtable-forms nav label {
      font-weight: normal; }
    #airtable-forms nav * {
      padding: 1rem .5rem;
      display: inline-block; }
    #airtable-forms nav a {
      border-left: 1px solid lightgray;
      font-weight: bold; }
      #airtable-forms nav a:last-child {
        border-right: 1px solid lightgray; }

@media (min-width: 555px) {
  .portal-modules {
    margin: -1rem 0 0; }
  #airtable-forms {
    margin-left: 0;
    margin-right: 0; } }

@media (min-width: 768px) {
  .embed ul, .text ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3; }
    .embed ul li, .text ul li {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .student-strengths dl::after {
    clear: both;
    content: "";
    display: table; }
  .student-strengths dt {
    float: left;
    width: 25%; }
  .student-strengths dd {
    float: left;
    width: 75%; } }

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: DarkSeaGreen;
  padding: 2rem;
  text-align: center;
  z-index: 100000;
  color: white;
  box-sizing: border-box;
  font-weight: bold; }

html, body {
  font-size: 13px; }

body {
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 2rem; }

h1 {
  font-family: inherit;
  font-weight: 700;
  font-style: inherit;
  font-size: 4.25rem;
  line-height: 6rem;
  margin-top: 4rem;
  margin-bottom: 4rem; }

h2 {
  font-family: inherit;
  font-weight: 700;
  font-style: inherit;
  font-size: 2.625rem;
  line-height: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

h3, q, .module-title, #module-external-tools .module-content a, .student-strengths dt {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1.625rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0rem; }

h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0rem; }

h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0rem; }

p, ul, ol, pre, table, blockquote, q {
  margin-top: 0rem;
  margin-bottom: 2rem; }
  p:last-child, ul:last-child, ol:last-child, pre:last-child, table:last-child, blockquote:last-child, q:last-child {
    margin-bottom: 0; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

hr {
  border: none;
  border-top: 1px solid #e3e3e3;
  margin-top: -1px !important; }

b, strong, em, small, code {
  line-height: 1; }

sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

table {
  vertical-align: top;
  width: 100%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-overflow-scrolling: touch; }

td, th {
  vertical-align: top;
  text-align: left;
  margin: 0;
  padding: 0 1rem; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 768px; }

header, main, footer {
  display: block; }

body > header {
  max-width: 100%;
  padding-top: 2rem;
  height: 2rem; }
  body > header::after {
    clear: both;
    content: "";
    display: table; }
  body > header div {
    display: inline-block;
    position: relative; }
  body > header img {
    display: block;
    width: 4rem;
    height: 4rem;
    float: left;
    position: relative;
    margin: -1rem 1rem 0 1rem; }

main {
  padding: 2rem 1rem; }

footer {
  padding: 2rem 1rem; }

body {
  font-family: "avenir next", avenir, "helvetica neue", helvetica, arial, sans-serif;
  background-color: #fafafa;
  background-repeat: repeat;
  background-size: 2rem 2rem;
  color: #333;
  overflow-x: hidden; }
  body > header {
    font-weight: 200;
    font-size: 1.625rem; }

h1, h2 {
  letter-spacing: -.1rem; }

h4, h5, h6 {
  font-weight: 500; }

q {
  display: block;
  font-weight: 200; }
  q a {
    color: #333; }
  q a:hover {
    color: #89a2ff; }

p {
  max-width: 70ch; }

article header {
  font-weight: bold; }
  article header a {
    display: block; }

iframe {
  border: 1px solid lightgray; }

label {
  font-weight: bold; }

fieldset {
  border: none;
  outline: 1px dashed lightgray;
  padding: 1rem;
  margin: 1rem 0; }

input[type=text], .selectize-input, input[type=email], input[type=password], input[type=phone], input[type=date] {
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  line-height: 1;
  padding: 0 .25rem;
  margin: 0;
  background: lightgray;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box; }
  input[type=text]:focus, .selectize-input:focus, input[type=email]:focus, input[type=password]:focus, input[type=phone]:focus, input[type=date]:focus {
    outline: none; }

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 0 lightgray;
  line-height: 1;
  text-align: center;
  background: white;
  border-radius: 0;
  outline: 1rem solid transparent;
  margin-right: .5rem; }
  input[type=checkbox]:checked:before {
    content: "\2713";
    font-size: 2rem; }
  input[type=checkbox]:focus {
    outline: none; }

input[type=submit], input[type=cancel], button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  color: white;
  font-family: inherit;
  font-weight: bold;
  border: none;
  background: #0bccf9;
  display: inline-block;
  cursor: pointer;
  width: auto;
  line-height: 2;
  padding: 0 1rem;
  font-size: 2rem;
  border-radius: .25rem;
  height: 4rem; }
  input[type=submit].cancel, input[type=submit][type=cancel], input[type=cancel].cancel, input[type=cancel][type=cancel], button.cancel, button[type=cancel] {
    background: #ffdb00;
    color: #333; }
  input[type=submit]:active, input[type=cancel]:active, button:active {
    box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.25);
    outline: none; }
  input[type=submit]:focus, input[type=cancel]:focus, button:focus {
    outline: none; }
  input[type=submit][disabled], input[type=cancel][disabled], button[disabled] {
    opacity: .25; }

select {
  max-width: 33ch; }

th, tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05); }

a {
  color: #5f6d84;
  text-decoration: none; }
  a:hover {
    color: #0bccf9; }

time {
  color: rgba(0, 0, 0, 0.333); }

a[data-method=delete], a[href*="destroy"], .error {
  color: #ff6555; }

.module {
  background: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px; }
  .module iframe {
    border-left: none;
    border-right: none; }

.module-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  font-weight: 700;
  letter-spacing: -1px; }
  .module-title a {
    color: #333; }

.subtitle, .module-subtitle, .student-strengths header {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 200;
  display: block;
  font-size: 1rem; }

.module-badge {
  border-radius: 1rem;
  font-weight: bold;
  background: #ff6555;
  color: white;
  text-align: center; }
  .module-badge.length-0 {
    background: #0ee077; }

.module.text h4 {
  margin: 0; }

.module.text ul {
  margin-bottom: 2rem; }

.calendar header {
  background: #5f6d84;
  color: white;
  text-transform: uppercase;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: .75rem;
  line-height: 2rem; }
  .calendar header.overdue {
    background: #ff6555; }

.stat-card-header {
  font-weight: bold; }

.stat-card-stats {
  line-height: 1; }

.stat-card-stat:not(:last-child) {
  margin-bottom: 1rem; }

.student-strengths dt {
  margin-top: 0; }

.student-strengths dd {
  margin-bottom: 2rem; }

.student-strengths header {
  display: block; }

.student-tasks {
  margin: 0 0 -1px 0;
  padding-top: 1rem;
  border-bottom: 1px dashed lightgray; }
  .student-tasks:first-of-type {
    padding-top: 0; }
  .student-tasks:last-child {
    border-bottom: none;
    margin-bottom: 0; }
  .student-tasks .tasks, .student-tasks .commitments {
    margin-left: .5rem; }
  .student-tasks h4 {
    margin: 0 0 1rem; }
    .student-tasks h4:after {
      content: ":"; }

.subtle {
  color: lightgray; }

select[multiple] {
  display: none; }

.selectize-input {
  width: 100%;
  height: auto; }
  .selectize-input input, .selectize-input .item {
    display: inline-block !important;
    padding: 1rem .5rem;
    font-weight: bold;
    line-height: 2; }
  .selectize-input input {
    outline: none;
    font-weight: normal;
    box-sizing: content-box; }
    .selectize-input input:focus {
      outline: none; }
  .selectize-input .remove {
    padding-left: .25rem;
    outline: 1rem solid transparent;
    display: inline-block;
    color: #ff6555; }
  .selectize-input .active {
    color: #ff6555; }

.selectize-control {
  position: relative; }

.selectize-dropdown {
  position: absolute;
  background: rgba(255, 255, 255, 0.98);
  z-index: 1000;
  box-shadow: 2px 2px 0 #333;
  border: 1px solid #333;
  box-sizing: border-box; }

.selectize-control.loading {
  opacity: .5; }

.selectize-dropdown-content .active {
  color: #0bccf9; }

.selectize-dropdown-content div[data-selectable] {
  padding: 1rem .5rem;
  cursor: pointer; }
  .selectize-dropdown-content div[data-selectable]:hover {
    color: #0bccf9; }

.selectize-dropdown-content .title {
  font-weight: bold; }

.selectize-dropdown-content .highlight {
  background: #ffdb00; }

.toggler-form {
  margin-bottom: 4rem; }
  .toggler-form p {
    max-width: 100%; }
    .toggler-form p > input[type=text], .toggler-form p > .selectize-input, .toggler-form p input[type=date] {
      height: 4rem; }
    .toggler-form p input[type=date] {
      line-height: 4; }
  .toggler-form input {
    width: 100%;
    display: block; }
  .toggler-form .incidentals {
    opacity: .75; }
    .toggler-form .incidentals label {
      display: block;
      clear: both;
      margin-top: 1rem; }
      .toggler-form .incidentals label:first-child {
        margin: 0; }
    .toggler-form .incidentals input[type=checkbox] {
      width: 2rem;
      float: left; }
    .toggler-form .incidentals input[type=text], .toggler-form .incidentals .selectize-input {
      padding: 0 .5rem;
      line-height: 1; }

.toggler-form-toggle {
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin-bottom: 2rem; }

.is-selected .pika-button {
  background: #0bccf9; }

.pika-button:hover {
  background: #f757a7; }

.flash {
  color: white;
  background: #00e5c9;
  font-weight: bold; }

.flash.error {
  background: #ff6555; }

::-webkit-input-placeholder {
  line-height: normal; }

.tfp-loading {
  height: 2rem;
  width: 2rem;
  margin: 1rem 0;
  position: relative;
  -webkit-animation: rotation .8s infinite ease-in-out;
  -moz-animation: rotation .8s infinite ease-in-out;
  -o-animation: rotation .8s infinite ease-in-out;
  animation: rotation .8s infinite ease-in-out;
  border-left: 4px solid #5f6d84;
  border-right: 4px solid #5f6d84;
  border-bottom: 4px solid #5f6d84;
  border-top: 4px solid #333;
  border-radius: 100%;
  text-indent: -99999em;
  overflow: hidden;
  box-sizing: border-box; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(359deg); } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
