<article>
  <h2>Hi, <%= @email %></h2>
  <p>
    We'll be using Slack to keep in touch this year, but no Slack account matches your email address.
  </p>
  <p>
    If you have a Slack account, please select your handle below:
  </p>
  <form action="/registration/link_slack_account" method="POST">
    <p>
      <label>Slack Handle</label>
      <select name="slack_id">
        <% @auth_info[:slackers].each do |slacker| %>
          <option value="<%= slacker[:id] %>">
            <%= slacker[:name] %>
          </option>
        <% end %>
      </select>
    </p>
    <p>
      <input type="submit" value="Next">
    </p>
  </form>
  <p>
    <hr>
  </p>
  <p>
    If you don't have a Slack account yet, you can
    <a target="_blank" href="https://thefutureproject.slack.com/signup">
      create one here
    </a>
    and then <a href="/registration">reload this page</a>.
  </p>
</article>

