html {
  margin: 0;
  padding: 0;
}
body {
  background: -webkit-linear-gradient(rgba(0,100,200,.05) 1px, white 1px);
  background-color: white;
  background-repeat: repeat;
  background-size: 2rem 2rem;
  margin: 0;
  padding: 0;
}
header, main, footer {
  display: block;
}
main {
  padding: 2rem;
}
