$base-font-color: #333;
$light-blue: #ff00cc;

a {
  color: $light-blue;
}

main {
  background: rgba(0,0,0,.05);
}
p { background: rgba(255,255,0,.05); }


input[type=text], input[type=email], input[type=password], input[type=phone] {
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  line-height: 1;
  padding: 0 .25rem;
  margin: 0;
  box-shadow: inset 0 -.25rem 0 $base-font-color;
}
