<% if @resource.errors.any? %>
  <section class="errors">
    <h4>Fail!</h4>
    <ul class="errors">
      <% @resource.errors.each do |error, msg| %>
        <li class='error'><%= "#{error} #{msg.first}" %></li>
      <% end %>
    </ul>
  </section>
<% end %>
