<ul id="launchpad">
  <li>
    <a href="https://thefutureproject.slack.com/">
      <img src="https://dl.airtable.com/g0jIEspXQOOPwpDkaxUk_large_slack.png" alt="Slack">
      Slack
    </a>
  </li>
  <li>
    <a href="https://dream.namely.com/">
      <img src="https://dl.airtable.com/0G6lHezAQJyZIgfX6iqN_large_namely.png" alt="Namely">
      Namely
    </a>
  </li>
  <li>
    <a href="https://www.expensify.com/signin">
      <img src="https://dl.airtable.com/33JCDcS6QaeUgqDzXdkU_large_icon-rounded.png" alt="Expensify">
      Expensify
    </a>
  </li>
</ul>
