<section id="springboard">
  <ul>
    <li>
      <a href="http://logbook.dream.org/">Logbook</a>
    </li>
    <li>
      <a href="http://logbook.dream.org/">Namely</a>
    </li>
    <li>
      <a href="http://logbook.dream.org/">Gmail</a>
    </li>
  </ul>
</section>
