#launchpad {
  ul {
    margin: 0 0 -2rem;
    padding: 0;
    list-style: none;
    @include clearfix;
  }
  li {
    width: 33.3333333%;
    float: left;
    margin-bottom: 2rem;
  }
  img {
    display: block;
    height: 4rem;
    width: 4rem;
    &:hover {
      -webkit-transform: scale(1.03);
    }
  }
  label {
    @include oneline;
  }
}
@media (min-width: 480px) {
  #launchpad {
    li {
      width: 25%;
    }
  }
}

@media (min-width: 768px) {
  #launchpad {
    li {
      width: 20%;
    }
  }
}

