#module-launcher {
  max-width: 53rem;
  padding: 0;
  .loading {
    margin-left: auto;
    margin-right: auto;
  }
}
#launchpad {
  padding: 0;
  list-style: none;
  @include clearfix;
  @include columns(1);
  margin-left: -1rem;
  li {
    @include shadowed;
    width: calc(33.333333333% - 1rem);
    float: left;
    margin-left: 0;
    box-sizing: border-box;
    text-align: center;
    height: 8rem;
    margin-left: 1rem;
    a {
      color: $base-font-color;
      font-weight: 400;
    }
  }
  img {
    display: block;
    height: 4rem;
    width: 4rem;
    margin: 0 auto;
    &:hover {
      -webkit-transform: scale(1.03);
    }
  }
}

#module-reflection {
  padding: 2rem;
}
//@media (min-width: 480px) {
  //#launchpad {
    //li {
      //width: 25%;
    //}
  //}
//}

//@media (min-width: 768px) {
  //#launchpad {
    //li {
      //width: 20%;
    //}
  //}
//}

