html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header, main, footer {
  display: block;
}

body > header {
  @include sized;
  max-width: 100%;
  @include clearfix;
  padding-top: 2rem;
  height: 2rem;
  div {
    display: inline-block;
    position: relative;
  }
  img {
    display: block;
    width: 4rem;
    height: 4rem;
    float: left;
    position: relative;
    margin: -1rem 1rem 0 1rem;
    //top: 1rem;
  }
}

footer {
  //background: rgba(0,255,255,.05);
  padding: 1rem;
  @include sized;
}

section, article {
  margin: 2rem 0;
  section, article {
    margin: 0 auto;
  }
}

article, main > header {
  @include sized;
}

@media (min-width: 768px) {
  main {
    margin-top: -1rem;
    padding: 1rem;
  }
  footer {
    padding: 1rem 2rem 2rem;
  }
}

