.dashboard-module {
  iframe {
    display: none;
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }
  header {
    position: relative;
  }
}
.dashboard-module {
  article {
    max-width: 100%;
  }
  header a:after {
    display: inline-block;
    content: "+";
    @include transition;
  }
  .is-expanded {
    //max-width: 1440px;
    position: relative;
    z-index: 1000;
    iframe {
      display: block;
    }
    header a:after {
      @include transform(rotate(45deg));
    }
  }
  &.sans-header {
    header {
      display: none;
    }
  }
  &.sans-shadow {
    article {
      box-shadow: none;
      background: none;
      padding: 0 2rem;
      //margin: 2rem auto 4rem;
    }
  }
  &.launcher {
    display: none;
  }
  table {
    table-layout: fixed;
    //display: none;
  }
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}
.task {
  position: relative;
  font-weight: normal;
  padding-left: 3rem;
  margin-bottom: 2rem;
  min-height: 2rem;
  input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  .embed {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include columns(3);
      li {
        @include oneline;
      }
    }
  }
}
@media (min-width: 768px) {
  .dashboard-modules {
    width: 100%;
    @include clearfix;
    margin-top: 1rem;
  }
  .dashboard-module {
    float: left;
    width: 50%;
    padding: 1rem;
    box-sizing: border-box;
    article {
      margin: 0;
    }
  }
}
@media (min-width: 1460px) {
  .dashboard-module {
    width: 33.33333%;
  }
}
