.portal-modules {
  margin-top: -1rem;
}

.module {
  margin: 1rem 0;
  position: relative;
  iframe {
    width: calc(100% + 2rem);
    height: 90vh;
    margin: 0 -1rem;
    max-height: 40rem;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.module-header {
  cursor: pointer;
  padding: 1rem;
  -webkit-user-select: none;
  user-select: none;
}

.module-content {
  display: none;
  padding: 1rem;
}

.module.is-expanded {
  .module-content {
    display: block;
  }
}

.module-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2;
}

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}
.task {
  position: relative;
  font-weight: normal;
  padding-left: 3rem;
  margin-bottom: 2rem;
  min-height: 2rem;
  input {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
}

.stat-cards {
  @include clearfix;
}
.stat-card {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .embed, .text {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include columns(3);
      li {
        @include oneline;
      }
    }
  }
  .stat-card {
    float: left;
    width: calc(33.3333% - 1rem);
    margin-right: 1rem;
  }
}

