.dashboard-module {
  iframe {
    display: none;
    width: 100%;
    height: 30rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }
  header {
    position: relative;
  }
}
.dashboard-module {
  header a:after {
    display: inline-block;
    content: "+";
    @include transition;
  }
  .is-expanded {
    max-width: 1440px;
    iframe {
      display: block;
    }
    header a:after {
      @include transform(rotate(45deg));
    }
  }
  &.sans-header {
    header {
      display: none;
    }
  }
  &.sans-shadow {
    article {
      box-shadow: none;
      background: none;
      padding: 0 2rem;
      //margin: 2rem auto 4rem;
    }
  }
  &.launcher {
    display: none;
  }
  table {
    table-layout: fixed;
    //display: none;
  }
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  .embed {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @include columns(3);
      li {
        @include oneline;
      }
    }
  }
  .calendar {
    section {
      line-height: 1.25;
      font-size: .8rem;
    }
  }
}
