.embed {
  header a:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: "+";
    @include transition;
  }
  iframe {
    display: none;
    width: 100%;
    height: 30rem;
  }
}
.embed.is-expanded {
  p { display: none; }
  iframe {
    display: block;
  }
  header a:after {
    @include transform(rotate(45deg));
  }
}
