$light-blue: lightskyblue;
$blue: deepskyblue;
$yellow: gold;
$purple: mediumslateblue;
$red: crimson;
$base-highlight-color: $blue;
$base-border-color: lightgray;
$base-font-color: dimgray;
$base-background-color: #fafafa;
$base-font-family: "avenir next", avenir, "helvetica neue", helvetica, arial, sans-serif;

body {
  //background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .1) 1px, transparent 1px);
  font-family: $base-font-family;
  background-color: $base-background-color;
  background-repeat: repeat;
  background-size: 2rem 2rem;
  color: $base-font-color;
  overflow-x: hidden;
  > header {
    font-weight: 200;
    font-size: 1.625rem;
  }
}

h1, h2 {
  letter-spacing: -.1rem;
  //background: rgba(255,0,0,.05);
}

h4, h5, h6 {
  font-weight: 500;
}

q {
  display: block;
  //color: $purple;
  font-weight: 200;
  @extend h3;
  position: relative;
  max-width: 38ch;
  margin-bottom: 0;
  &:before, &:after { position: absolute; }
  &:before { left: -1rem; }
}

article {
  @include shadowed;
  header {
    font-weight: bold;
    a { display: block; }
  }
}

iframe {
  border: 1px solid $base-border-color;
}

label {
  font-weight: bold;
}

fieldset {
  border: none;
  outline: 1px dashed $light-blue;
  padding: 2rem;
  margin: 2rem 0;
}

input[type=text], input[type=email], input[type=password], input[type=phone] {
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  line-height: 1;
  padding: 0 .25rem;
  margin: 0;
  box-shadow: inset 0 -.25rem 0 $base-font-color;
  &:focus {
    outline: none;
    box-shadow: inset 0 -.25rem 0 $base-highlight-color;
  }
}

select {
  max-width: 33ch;
}

th, tr:nth-child(even) {
  background-color: rgba(0,0,0,.05);
}

a {
  color: $base-highlight-color;
  text-decoration: none;
}

time {
  color: rgba(0,0,0,.333);
}

a[data-method=delete], a[href*="destroy"], .error {
  color: $red;
}

.dashboard-module {
  header a {
    color: $base-font-color;
  }
  header a:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: "+";
    @include transition;
  }
}

