$light-blue: dodgerblue;
$blue: steelblue;
$yellow: gold;
$purple: mediumslateblue;
$red: crimson;
$base-highlight-color: $blue;
$base-border-color: lightgray;
$base-font-color: #333;
$base-background-color: #fafafa;
$base-font-family: "avenir next", avenir, "helvetica neue", helvetica, arial, sans-serif;

body {
  //background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .1) 1px, transparent 1px);
  font-family: $base-font-family;
  background-color: $base-background-color;
  background-repeat: repeat;
  background-size: 2rem 2rem;
  color: $base-font-color;
  overflow-x: hidden;
  > header {
    font-weight: 200;
    font-size: 1.625rem;
  }
}

h1, h2 {
  letter-spacing: -.1rem;
  //background: rgba(255,0,0,.05);
}

h4, h5, h6 {
  font-weight: 500;
}

q {
  display: block;
  //color: $purple;
  a { color: $base-font-color; }
  a:hover { color: $light-blue; }
  font-weight: 200;
  @extend h3;
}

p {
  max-width: 70ch;
}

article {
  header {
    font-weight: bold;
    a { display: block; }
  }
}

iframe {
  border: 1px solid $base-border-color;
}

label {
  font-weight: bold;
}

fieldset {
  border: none;
  outline: 1px dashed $light-blue;
  padding: 2rem;
  margin: 2rem 0;
}

input[type=text], input[type=email], input[type=password], input[type=phone], input[type=date] {
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  line-height: 1;
  padding: 0 .25rem;
  margin: 0;
  box-shadow: inset 0 -.25rem 0 $base-font-color;
  &:focus {
    outline: none;
    box-shadow: inset 0 -.25rem 0 $base-highlight-color;
  }
}
input[type=checkbox] {
  @include appearance(none);
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  border: 1px solid $base-border-color;
  box-shadow: 2px 2px 0 $base-border-color;
  line-height: 1;
  font-size: 2rem;
  text-align: center;
  background: white;
  border-radius: 0;
  outline: 1rem solid transparent;
  &:checked {
    &:before {
      content: "✓";
    }
  }
  &:focus {
    outline: none;
  }
}

select {
  max-width: 33ch;
}

th, tr:nth-child(even) {
  background-color: rgba(0,0,0,.05);
}

a {
  color: $base-highlight-color;
  text-decoration: none;
  &:hover {
    color: $light-blue;
  }
}

time {
  color: rgba(0,0,0,.333);
}

a[data-method=delete], a[href*="destroy"], .error {
  color: $red;
}

.module {
  background: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  iframe {
    border-left: none;
    border-right: none;
  }
}

.module-title {
  @include oneline;
  @extend h3;
  margin: 0;
  font-weight: 700;
  letter-spacing: -1px;
  a {
    color: $base-font-color;
  }
}

.module-subtitle {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 200;
}

.module-badge {
  border-radius: 1rem;
  font-weight: bold;
  background: $blue;
  color: white;
  text-align: center;
  &.length-0 {
    background: DarkSeaGreen;
  }
}

.module.text {
  h4 { margin: 0; }
  ul { margin-bottom: 2rem; }
}

.calendar {
  header {
    background: $blue;
    font-weight: 200;
    color: white;
    text-transform: lowercase;
    font-variant: small-caps;
    padding: 0 .5em;
    margin: 1rem auto;
  }
}

#module-external-tools {
  .module-content a {
    @extend h3;
  }
}

.stat-card-header {
  font-weight: bold;
}
.stat-card-stats {
  line-height: 1;
}
.stat-card-stat:not(:last-child) {
  margin-bottom: 1rem;
}
.student-strengths {
  dt {
    @extend h3;
    margin-top: 0;
  }
  dd {
    margin-bottom: 2rem;
  }
  header {
    display: block;
    @extend .module-subtitle;
  }
}

.student-tasks {
  margin: 0 0 -1px 0;
  padding-top: 1rem;
  border-bottom: 1px dashed $base-border-color;
  &:first-of-type { padding-top: 0; }
  &:last-child { border-bottom: none; margin-bottom: 0; }
  .tasks {
    margin-left: .5rem;
  }
  h4 {
    margin: 0 0 1rem;
    &:after { content: ":"; }
  }
}
.subtle { color: lightgray; }

