$red: #ff6555;
$orange: #ff9c00;
$yellow: #ffdb00;
$green: #0ee077;
$teal: #00e5c9;
$blue: #0bccf9;
$indigo: #89a2ff;
$violet: #c57ff7;
$pink: #f757a7;
$slate: #5f6d84;

$base-highlight-color: $blue;
$base-border-color: lightgray;
$base-font-color: #333;
$base-background-color: #fafafa;
$base-font-family: "avenir next", avenir, "helvetica neue", helvetica, arial, sans-serif;

body {
  //background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .1) 1px, transparent 1px);
  font-family: $base-font-family;
  background-color: $base-background-color;
  background-repeat: repeat;
  background-size: 2rem 2rem;
  color: $base-font-color;
  overflow-x: hidden;
  > header {
    font-weight: 200;
    font-size: 1.625rem;
  }
}

h1, h2 {
  letter-spacing: -.1rem;
  //background: rgba(255,0,0,.05);
}

h4, h5, h6 {
  font-weight: 500;
}

q {
  display: block;
  a { color: $base-font-color; }
  a:hover { color: $indigo; }
  font-weight: 200;
  @extend h3;
}

p {
  max-width: 70ch;
}

article {
  header {
    font-weight: bold;
    a { display: block; }
  }
}

iframe {
  border: 1px solid $base-border-color;
}

label {
  font-weight: bold;
}

fieldset {
  border: none;
  outline: 1px dashed $base-border-color;
  padding: 1rem;
  margin: 1rem 0;
}

input[type=text], input[type=email], input[type=password], input[type=phone], input[type=date] {
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  display: inline-block;
  vertical-align: top;
  height: 2rem;
  line-height: 1;
  padding: 0 .25rem;
  margin: 0;
  background: $base-border-color;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  &:focus { outline: none; }
}
input[type=checkbox] {
  @include appearance(none);
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  border: 1px solid $base-border-color;
  box-shadow: 2px 2px 0 $base-border-color;
  line-height: 1;
  text-align: center;
  background: white;
  border-radius: 0;
  outline: 1rem solid transparent;
  margin-right: .5rem;
  &:checked {
    &:before {
      content: "✓";
      font-size: 2rem;
    }
  }
  &:focus {
    outline: none;
  }
}

input[type=submit], input[type=cancel], button {
  @include appearance(none);
  color: white;
  font-family: inherit;
  font-weight: bold;
  border: none;
  background: $blue;
  display: inline-block;
  cursor: pointer;
  width: auto;
  line-height: 2;
  padding: 0 1rem;
  font-size: 2rem;
  border-radius: .25rem;
  height: 4rem;
  &.cancel, &[type=cancel] {
    background: $yellow;
    color: $base-font-color;
  }
  &:active {
    box-shadow: inset -1px 2px 3px rgba(0,0,0,.25);
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &[disabled] {
    opacity: .25;
  }
}

select {
  max-width: 33ch;
}

th, tr:nth-child(even) {
  background-color: rgba(0,0,0,.05);
}

a {
  color: $slate;
  text-decoration: none;
  &:hover {
    color: $blue;
  }
}

time {
  color: rgba(0,0,0,.333);
}

a[data-method=delete], a[href*="destroy"], .error {
  color: $red;
}

.module {
  background: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  iframe {
    border-left: none;
    border-right: none;
  }
}

.module-title {
  @include oneline;
  @extend h3;
  margin: 0;
  font-weight: 700;
  letter-spacing: -1px;
  a {
    color: $base-font-color;
  }
}

.subtitle, .module-subtitle {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 200;
  display: block;
  font-size: 1rem;
}

.module-badge {
  border-radius: 1rem;
  font-weight: bold;
  background: $red;
  color: white;
  text-align: center;
  &.length-0 {
    background: $green;
  }
}

.module.text {
  h4 { margin: 0; }
  ul { margin-bottom: 2rem; }
}

.calendar {
  header {
    background: $slate;
    font-weight: 200;
    color: white;
    text-transform: lowercase;
    font-variant: small-caps;
    padding: 0 .5em;
    margin: 1rem auto;
  }
}

#module-external-tools {
  .module-content a {
    @extend h3;
  }
}

.stat-card-header {
  font-weight: bold;
}
.stat-card-stats {
  line-height: 1;
}
.stat-card-stat:not(:last-child) {
  margin-bottom: 1rem;
}
.student-strengths {
  dt {
    @extend h3;
    margin-top: 0;
  }
  dd {
    margin-bottom: 2rem;
  }
  header {
    display: block;
    @extend .module-subtitle;
  }
}

.student-tasks {
  margin: 0 0 -1px 0;
  padding-top: 1rem;
  border-bottom: 1px dashed $base-border-color;
  &:first-of-type { padding-top: 0; }
  &:last-child { border-bottom: none; margin-bottom: 0; }
  .tasks {
    margin-left: .5rem;
  }
  h4 {
    margin: 0 0 1rem;
    &:after { content: ":"; }
  }
}
.subtle { color: lightgray; }


select[multiple] {
  display: none;
}

.selectize-input {
  @extend input[type=text];
  width: 100%;
  height: auto;
  input, .item {
    display: inline-block !important;
    padding: 1rem .5rem;
    font-weight: bold;
    line-height: 2;
  }
  input {
    outline: none;
    font-weight: normal;
    box-sizing: content-box;
    &:focus { outline: none; }
  }
  .remove {
    padding-left: .25rem;
    outline: 1rem solid transparent;
    display: inline-block;
    color: $red;
  }
  .active {
    color: $red;
  }
}
.selectize-control {
  position: relative;
}
.selectize-dropdown {
  position: absolute;
  background: rgba(255,255,255,.98);
  z-index: 1000;
  box-shadow: 2px 2px 0 $base-font-color;
  border: 1px solid $base-font-color;
  box-sizing: border-box;
}
.selectize-control.loading {
  opacity: .5;
}
.selectize-dropdown-content {
  .active {
    color: $base-highlight-color;
  }
  div[data-selectable] {
    padding: 1rem .5rem;
    cursor: pointer;
    &:hover {
      color: $base-highlight-color;
    }
  }
  .title {
    font-weight: bold;
  }
  .highlight {
    background: $yellow;
  }
}
.new-commitment {
  margin-bottom: 4rem;
  p  {
    max-width: 100%;
    > input[type=text], input[type=date] {
      height: 4rem;
    }
    input[type=date] {
      line-height: 4;
    }
  }
  input {
    width: 100%;
    display: block;
  }
  .incidentals {
    opacity: .75;
    label {
      display: block;
      clear: both;
      margin-top: 1rem;
      &:first-child { margin: 0; }
    }
    input[type=checkbox] {
      width: 2rem;
      float: left;
    }
    input[type=text] {
      padding: 0 .5rem;
      line-height: 1;
    }
  }
}
.is-selected .pika-button {
  background: $blue;
}
.pika-button:hover {
  background: $pink;
}
.toggle-form {
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin-bottom: 2rem;
}

.flash {
  color: white;
  background: $teal;
  font-weight: bold;
}
.flash.error {
  background: $red;
}

::-webkit-input-placeholder { line-height: normal; }

