<section id="launchpad">
  <ul>
    <li>
      <a href="https://thefutureproject.slack.com/">
        <img src="/img/icons/slack.png" alt="Slack" />
      <label>Slack</label>
      </a>
    </li>
    <li>
      <a href="https://airtable.com">
        <img src="/img/icons/airtable.png" alt="Airtable" />
        <label>Airtable</label>
      </a>
    </li>
    <li>
      <a href="http://dream.namely.com">
        <img src="/img/icons/namely.png" alt="Namely" />
        <label>Namely</label>
      </a>
    </li>
    <li>
      <a href="http://logbook.dream.org">
        <img src="/img/icons/logbook.png" alt="Logbook" />
        <label>Logbook</label>
      </a>
    </li>
    <li>
      <a href="/redirects">
        <img src="/img/icons/redirects.png" alt="Redirects" />
      <label>Redirects</label>
      </a>
    </li>
  </ul>
</section>
<section id="quote">
  <q>
    Never waste your time trying to explain who you are to people who are committed to misunderstanding you.
  </q>
  <p> - Anon</p>
</section>
