<article id="launchpad">
  <ul>
    <li>
      <a href="https://thefutureproject.slack.com/">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/76/Slack_Icon.png" alt="Slack" />
      <label>Slack</label>
      </a>
    </li>
    <li>
      <a href="https://airtable.com">
        <img src="https://pbs.twimg.com/profile_images/675477983793025024/Cpcs-SOu.png" alt="Airtable" />
        <label>Airtable</label>
      </a>
    </li>
    <li>
      <a href="http://dream.namely.com">
        <img src="http://static1.squarespace.com/static/5719066b22482e5dd5e4a2fb/t/57504a231bbee0485a64990e/1464879661073/namely+logo" alt="Namely" />
        <label>Namely</label>
      </a>
    </li>
    <li>
      <a href="http://logbook.dream.org">
        <img src="/img/icons/logbook.png" alt="Logbook" />
        <label>Logbook</label>
      </a>
    </li>
  </ul>
</article>

<article id="quote">
  <q><%= @quote.body %></q>
  <p> - <%= @quote.source %></p>
</article>
