<article>
  <h1>Welcome, <%= @email.match(/(?<user>.*)@/)[:user] %>.</h1>
  <p>
    We'll be using Slack to keep in touch this year.
  </p>
  <p>
    Please <a target="_blank" href="https://thefutureproject.slack.com/signup">create a Slack account</a>,
    and when you're done, <a href="/registration">reload this page</a> to complete your registration.
  </p>
  <p>[This is step 1 of 2.]</p>
</article>

