<article>
  <h1>Welcome, <%= @email.match(/(?<user>.*)@/)[:user] %>.</h1>
  <p>
    We'll be using Slack to keep in touch this year.
  </p>
  <p>
    Please <a target="_blank" href="https://thefutureproject.slack.com/signup">create a Slack account</a>,
    and when you're done, <a href="/registration">reload this page</a> to complete your registration.
  </p>
  <p>[This is step 1 of 2.]</p>
  <hr>
  <h2>Stuck?</h2>
  <p>
    Your official Future Project email address is <%= @email %>.
    If you already have a Slack account, and you're still seeing this message,
    it's probably because your Slack email address doesn't match your official email.
  </p>
  <p>
    For example, Chris' email is chris.frank@thefutureproject.org, but he might have signed up
    for Slack as chris@thefutureproject.org.
  </p>
  <p>
    Please <a href="https://thefutureproject.slack.com/account/settings#email">update your Slack email</a>
    to <%= @email %>.
  </p>
</article>

