html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 768px;
}

header, main, footer {
  display: block;
}

body > header {
  max-width: 100%;
  @include clearfix;
  padding-top: 2rem;
  height: 2rem;
  div {
    display: inline-block;
    position: relative;
  }
  img {
    display: block;
    width: 4rem;
    height: 4rem;
    float: left;
    position: relative;
    margin: -1rem 1rem 0 1rem;
    //top: 1rem;
  }
}

main {
  padding: 2rem 1rem;
}

footer {
  padding: 2rem 1rem;
}

