<%= erb :"form_links", :locals => { links: FormManager.forms_for(current_user) } %>
<div class="portal-modules">
  <% @portal_modules.each do |mod| %>
    <% if !mod["Kind"].empty? %>
      <div class="module <%= mod["Kind"] %>" id="module-<%= mod["Name"].parameterize %>">
        <%= erb :"portal_modules/#{mod["Kind"].downcase}", locals: { mod: mod } %>
      </div>
    <% end %>
  <% end %>
</div>
